

/*To screens smaller 600px/
@media (max-width: 480px){
    main {
        margin-top: 7rem;
        min-height: auto;
    }

    ul {
        gap: 2rem;
        padding: 0 20px;
    }
}

/*To screens smaller 600px/
@media (max-width: 600px) {
    main {
        margin-top: 0.5rem;
        min-height: auto;
        padding: 2rem 0;
    }

    nav.profiles {
        flex-direction: column;
        align-items: center;
    }

    ul {
        gap: 4rem;
    }
}

/*To screens smaller 900px/
@media (max-width: 900px) {
    main {
        margin-top: 5rem;
        min-height: auto;
    }

    nav.profiles {
        gap: 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}

/*To screens larger 901px/
@media (min-width: 901px) {
    main {
        align-content: center;
    }

    nav.profiles {
        flex-direction: row;
        align-items: center;
    }

    img[aria-label="icon_profiles"] {
        width: 70px;
        height: 70px;
    }

    h1 {
        font-size: 1.5rem;
    }

    figcaption {
        font-size: 1rem;
    }
