
/* telas menores de 480px */
@media (max-width: 480px){
    header {
        padding: 20px 5%;
    }

    .logo {                 /*definindo tamanho do logo inicial da netflix */
        width: 150px;
        height: auto;
    }

    .screen_profiles {      /*container da main*/
        padding: 50px;
    }

    .profiles_list {        /*container list não ordernada*/
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    h1 {
        font-size: 1.6rem;
        text-align: center;
    }

    figcaption {            /* texto (nome) de capa perfil */
        font-size: 1rem;
    }

    .picture {              /* imagens dos perfis */
        width: 80px;
        height: 80px;
    }
}
/* ------------------------------------------------------- */

/* telas de 481px até 768px */
@media (min-width: 481px) and (max-width: 768px){
    header {
        padding: 30px 4%;
    }

    .logo {             /*definindo tamanho do logo inicial da netflix */
        width: 180px;
        height: auto;
    }

    .screen_profiles {          /*container da main*/
        padding: 60px;
    }

    .profiles_list {            /*container list não ordernada*/
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    h1 {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        align-items: center;

    }

    figcaption {                    /* texto (nome) de capa perfil */
        font-size: 1.1rem;
        letter-spacing: 0.8px;
    }

    .picture {                /* imagens dos perfis */
        width: 100px;
        height: 100px;
    }
}
/* ------------------------------------------------------------- */

/* telas de 769px até 1024px */
@media (min-width: 769px) and (max-width: 1024px){
    header {
        padding: 40px 3.5%;
    }

    .logo {                 /*definindo tamanho do logo inicial da netflix */
        width: 210px;
        height: auto;
    }

    .screen_profiles {          /*container da main*/
        padding: 70px;
    }

    .profiles_list {                /*container list não ordernada*/
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    h1 {
        font-size: 2.3rem;
        margin-bottom: 3.8rem;
    }

    .picture {              /* texto (nome) de capa perfil */
        width: 120px;
        height: 120px;
    }

    figcaption {                /* imagens dos perfis */
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
}
/* ------------------------------------------------------ */

/* telas maiores de 1025px */
@media (min-width: 1025px){
    header {
        padding: 50px 3%;
    }

    .logo {                 /*definindo tamanho do logo inicial da netflix */
        width: 250px;
        height: auto;
    }

    .screen_profiles {      /*container da main*/
        padding: 80px;
    }

    .profiles_list {            /*container list não ordernada*/
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    h1 {
        font-size: 2.8rem;
        margin-bottom: 4rem;
    }

    .picture {              /* texto (nome) de capa perfil */
        width: 140px;
        height: 140px;
    }

    figcaption {                /* imagens dos perfis */
        font-size: 1.5rem;
        letter-spacing: 1.2px;
    }
}